.imgConfig {
    padding: 15px 15px 15px 15px;
}

mdb-card-title {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

.espacamentoTexto {
    padding-right: 10px;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}